.header{
    grid-area: h;
    background-color:lightcyan;
  
  }
  .header img {
    width:100px;
    /* hight:auto */
  }

  .loginBlock{
    float:right;

  }

  .loginBlock a{
    color:darkgray
  }
