.descriptionBlock {
    padding: 10px;
}

.mainImg{
    width: 400px;
    height: 400px;
    border-radius: 45px;

}
.largeAvatar {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.fullName {
    font-size: 25px;
    font-weight: bolder;
}

.aboutMe{
    padding-top: 10px;
}
.constacts {
    padding-left:15px
   
}

.contactsList{
    padding-top: 20px;
    display: grid;
}